# Copyright (c) 2017-2018,2020-2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    write /sys/class/backlight/panel0-backlight/bl_power 0
    write /sys/class/backlight/panel0-backlight/brightness 1638
    setprop sys.usb.configfs 1
    setprop prepdecrypt.setpatch true
    start vendor.qseecomd
    start vendor.keymint-qti
    start vendor.gatekeeper_default

on boot
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    write /sys/class/backlight/panel0-backlight/bl_power 0
    write /sys/class/backlight/panel0-backlight/brightness 1638
    mkdir /data/vendor 0771 system system
    mkdir /data/vendor/touch 0771 system system
    mkdir /data/vendor/touch/test 0771 system system
    mkdir /data/vendor/touch/record 0771 system system
    mkdir /data/vendor/touch/log 0771 system system
    mkdir /data/vendor/touch/simulate 0771 system system
    mkdir /data/vendor/touch/upload 0771 system system
    mkdir /data/vendor/touchconfig 0777 system system
    mkdir /odm 0755 root root
    wait /dev/block/mapper/odm${ro.boot.slot_suffix} 10
    mount erofs /dev/block/mapper/odm${ro.boot.slot_suffix} /odm ro
    wait /sys/devices/platform/soc/soc:hbp@0/irq_enable 10
    chown system system /dev/hbp_core
    chown system system /dev/hbp0
    chown system system /dev/hbp1
    chown system system /dev/tcm0
    chown system system /dev/qcom,cp_touch
    chmod 0660 /dev/hbp_core
    chmod 0660 /dev/hbp0
    chmod 0660 /dev/hbp1
    chmod 0660 /dev/tcm0
    chmod 0660 /dev/qcom,cp_touch
    symlink /dev/tcm0 /dev/tcm_hbp0
    chown system system /dev/tcm_hbp0
    chmod 0660 /dev/tcm_hbp0
    write /sys/devices/platform/soc/soc:hbp@0/debug_level 2
    write /sys/devices/platform/soc/soc:hbp@0/irq_enable 0,1
    start twrp_touch_hal_init

service twrp_touch_hal_init /system/bin/sh /system/bin/twrp-touch-hal-init.sh
    class core
    disabled
    oneshot
    user root
    group root system input
    seclabel u:r:recovery:s0

on property:sys.twrp_touch_ready=1
    mkdir /odm 0755 root root
    mount erofs /dev/block/mapper/odm${ro.boot.slot_suffix} /odm ro
    wait /odm/bin/hw/vendor-oplus-hardware-touch-V2-hbp5-service 5
    wait /odm/firmware/tp/prado/vnd_touch_project_config.xml 5
    start vendor.touch-aidl-2
    write /sys/devices/platform/soc/soc:hbp@0/irq_enable 0,1
    stop charger
    stop logd

service vendor.touch-aidl-2 /odm/bin/hw/vendor-oplus-hardware-touch-V2-hbp5-service
    class hal
    disabled
    oneshot
    capabilities SYS_NICE
    user root
    group root system everybody gps radio inet sdcard_r sdcard_rw input
    socket hidl2touchdaemon_client dgram 0660 root inet
    socket hidl2touchdaemon_server dgram 0660 root inet
    interface aidl vendor.oplus.hardware.touch.IOplusTouch/default
    seclabel u:r:recovery:s0

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
