# Start the keystore2 service.
# Keystore 2.0 changes its working directory to the first positional
# command line option. In recovery we keep it under /tmp because /data may
# still be encrypted when the service starts.

on late-init
    start keystore2

service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    class early_hal
    user root
    group keystore readproc log
    interface aidl android.system.keystore2.IKeystoreService/default
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0
